aniso8601
astroid
autopep8
click
Flask==2.1.0
Flask-Cors
Flask-RESTful==0.3.9
gunicorn
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysql-connector-python
protobuf
py-bcrypt
pycodestyle
pylint
pytz
six
toml
Werkzeug
wrapt
